@mixin container {
  display: flex;
  flex-direction: column;
  position: relative;
}

@mixin input {
  outline: none;
  border-width: 0 0 1.5px;
  border-color: var(--main-color);
}

@mixin error {
  color: var(--red);
  font-size: 12px;
  margin-top: 10px;
}
