@mixin container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  position: relative;
  .label {
    display: flex;
    gap: 10px;

    span {
      color: var(--main-color);
      width: 2px;
      height: 18px;
    }
  }
}

@mixin input {
  outline: none;
  border-width: 0 0 1.5px;
  border-color: var(--main-color);
}

@mixin error {
  position: relative;
  bottom: 20px;
  color: var(--red);
  font-size: 12px;
  margin-bottom: 10px;
}
