@mixin roundButton($background, $border: none, $color: var(--text-color)) {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 32px;
  font-weight: 700;
  font-size: 16px;
  background-color: $background;
  border: $border;
  color: $color;
}

@mixin primaryButton {
  @include roundButton(var(--main-color));
}

@mixin secondaryButton {
  @include roundButton(var(--white), 1px solid var(--main-color));
}

@mixin tertiaryButton {
  @include roundButton(var(--tertiary));
}
