.profileBox {
  display: flex;
  align-items: center;
  gap: 12px;
  .imgBox {
    position: relative;
    width: 41px;
    height: 41px;
    img {
      border-radius: 50%;
      border: 2px solid var(--pet-border);
    }
    .svgBox {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 18px;
      height: 18px;
    }
  }
  p {
    font-family: 'LaundryGothic';
    font-weight: 700;
    font-size: 24px;
  }
}
.ExpulsionButton {
  width: 20px;
  height: 20px;
}
