.footer {
  display: flex;
  gap: 17px;
  justify-content: flex-end;
  .container {
    display: flex;
    align-items: center;
    gap: 5.5px;
    .count {
      font-size: 14px;
      color: var(--text-color-gray);
    }
  }
}
