.growth-item__layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px 0;
  padding: 15px 20px;
}

.growth-item__type {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background-color: var(--white);
}
