.imagesContainer {
  margin: 16px 0 6px;
  width: 100%;
  height: 300px;
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  scroll-snap-type: x mandatory;
}

.pauseAlign {
  scroll-snap-type: none;
}

.image {
  scroll-snap-align: center;
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.imageDots {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.imageDot {
  border-radius: 9999px;
  width: 4px;
  height: 4px;
  background-color: var(--todo-category);
  margin: 0 2px;
}

.imageDot.selected {
  background-color: var(--main-color);
}

.previous {
  position: absolute;
  width: 30%;
  height: 100%;
  cursor: pointer;
  left: 0;
}

.next {
  position: absolute;
  width: 30%;
  height: 100%;
  cursor: pointer;
  right: 0;
}
