.wrapper {
  border: 1px solid var(--todo-category);
  border-radius: 10px;
  height: 151px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px 0;
}

.image {
  position: relative;
  width: 20px;
  height: 20px;
}

.link {
  width: 198px;
  font-size: 12px;
  font-weight: 700;
  height: 36px;
  color: inherit;
  position: relative;

  .icon {
    position: absolute;
    left: 10px;
  }
}
