.profile {
  display: flex;
  align-items: center;
  gap: 4px;
  .image {
    border-radius: 9999px;
    border: 1px solid var(--main-color);
  }
  .name {
    font-size: 14px;
    color: var(--text-color-gray);
    padding-right: 4px;
  }
}
