.container {
  padding: 54px 0 100px;
}

.content {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 160px;
  padding: 0 24px;
  margin-top: 22px;
  margin-bottom: 30px;
  border: none;
  resize: none;
  &::placeholder {
    font-weight: 500;
    line-height: 21px;
    color: var(--text-color-gray);
  }
  &:focus {
    outline: none;
  }
}

.division {
  margin: 0px auto 30px;
  width: 382px;
  border: 1px solid #d5d9dc;
}

.weatherContainer {
  padding: 0 24px;
  margin-bottom: 30px;
}

.weather {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
  font-size: 14px;
  color: var(--text-color-gray);
}
.weatherIcons {
  display: flex;
  justify-content: space-between;

  button {
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.imagesContainer {
  display: flex;
  gap: 10px;
  padding: 0 24px;
  margin-bottom: 30px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.imagesContainer::-webkit-scrollbar {
  display: none;
}

.images {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.button {
  padding: 0 24px;
}

.storyshareContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 22px;
  padding: 0 24px;
  margin-bottom: 30px;
}

.storyshare {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: var(--text-color-gray);
}

.toggle {
  position: relative;
  display: inline-block;
  width: 37.69px;
  height: 20px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--disabled-button);
  transition: 0.4s;
  border-radius: 27px;
}

.toggleSlide:before {
  position: absolute;
  content: '';
  height: 16.92px;
  width: 16.92px;
  left: 2px;
  bottom: 1.54px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggleSlide {
  background-color: var(--main-color);
}

input:checked + .toggleSlide:before {
  transform: translateX(16.92px);
}

.submit {
  width: 100%;
  padding: 14px;
  color: var(--button-color);
  background-color: var(--main-color);
  border-radius: 9999px;
}

.disabled {
  background-color: var(--disabled-button);
  color: var(--white);
}

.error {
  padding: 0 24px;
  margin-top: 8px;
  margin-bottom: 30px;
  font-weight: 400;
  color: var(--input-error);
}
