.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 360px;
  height: 54px;
  .leftArrow {
    position: relative;
    width: 24px;
    height: 24px;
    margin: auto 0;
  }
  .imageBox {
    position: relative;
    width: 144px;
    height: 36px;
    margin: auto;
  }
}
