.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 54px;
  max-width: 420px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid var(--main-color);

  .leftArrow {
    position: relative;
    width: 24px;
    height: 24px;
    margin: auto 0;
    left: 12px;
  }
  .imageBox {
    position: relative;
    width: 144px;
    height: 36px;
    margin: auto;
  }
}
