@import '../../skeleton-animation.module.scss';

.container {
  padding: 14px 17px;
  width: 242px;
  height: 101px;
  border-radius: 10px;
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  gap: 3px;
  .headerContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    .profile {
      width: 20px;
      height: 20px;
      @include skeleton-animation;
      border-radius: 100%;
    }
    .name {
      width: 38px;
      height: 17px;
      @include skeleton-animation;
      border-radius: 10px;
    }
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
    .text {
      width: 208px;
      height: 15px;
      @include skeleton-animation;
      border-radius: 10px;
    }
  }
}
