.diaryContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  height: 142px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid;
  // box-shadow: 2px 4px 5px #dadada;
  border-color: var(--main-color);
  cursor: pointer;

  .leftContainer {
    display: flex;
    flex-direction: column;
  }

  .rightContainer {
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: flex-end;
  }
}
