@import '/components/common/common-button/common-button.module.scss';

.linkList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  li {
    height: 44px;
    &:nth-of-type(1) {
      a {
        @include primaryButton();
      }
    }
    &:nth-of-type(2) {
      a {
        @include secondaryButton();
      }
    }
  }
}
