@import '../../../skeleton-animation.module.scss';

.profileBox {
  display: flex;
  gap: 8px;
  .imgBox {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    @include skeleton-animation;
  }
  .textBox {
    p {
      width: 36px;
      height: 16px;
      border-radius: 10px;
      @include skeleton-animation;
    }
    span {
      display: block;
      width: 67px;
      height: 14px;
      border-radius: 10px;
      @include skeleton-animation;
      margin-top: 5px;
    }
  }
}
.commentBox {
  p {
    margin-top: 12px;
    width: 100%;
    height: 16px;
    border-radius: 10px;
    @include skeleton-animation;
  }
  span {
    display: block;
    width: 21px;
    height: 14px;
    margin-top: 10px;
    border-radius: 10px;
    @include skeleton-animation;
  }
}
