.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  .label {
    display: flex;
    gap: 10px;
    span {
      color: var(--main-color);
      width: 2px;
      height: 18px;
    }
  }
}
.input {
  outline: none;
  height: 50px;
  padding: 12px 11px;
  border-width: 0 0 1.5px;
  border-color: var(--main-color);
}

.error {
  color: var(--red);
}
