.weatherContainer {
  padding: 0 24px;
  margin-bottom: 30px;
  .label {
    padding-left: 10px;
    border-left: 2px solid var(--text-color-gray);
    font-size: 14px;
    margin-bottom: 12px;
  }

  .weatherIcons {
    display: flex;
    justify-content: space-between;

    button {
      height: 40px;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
