.container {
  width: 100%;
  height: 130px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 10px 11px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  .headerContainer {
    display: flex;
    gap: 6px;
    .Image {
      width: 46px;
      height: 46px;
      border-radius: 100%;
      background-color: var(--skeleton-color);
    }
    .subHeader {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .categoryName {
        width: 60px;
        height: 20px;
        border-radius: 10px;
        background-color: var(--skeleton-color);
      }
      .profile {
        width: 120px;
        height: 20px;
        border-radius: 10px;
        background-color: var(--skeleton-color);
      }
    }
  }
  .text {
    margin: 12px 0 11px 0;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--skeleton-color);
  }
}
