.responseContainer {
  display: flex;
  gap: 17px;

  @mixin responseItem {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--text-color-gray);
    font-size: 14px;
  }

  .comment {
    @include responseItem;
  }

  .favorite {
    @include responseItem;
  }
}
