.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 38px;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .title {
    padding-left: 8px;
  }
  .content {
    padding: 11px 12px;
  }
  .snackTitle {
    border-left: 2px solid var(--snack-color);
  }
  .foodTitle {
    border-left: 2px solid var(--main-color);
  }
  .abnormalSymptomTitle {
    border-left: 2px solid var(--abnormalSymptom-color);
  }
  .hospitalTitle {
    border-left: 2px solid var(--hospital-color);
  }
  .snackContent {
    border-bottom: 1.5px solid var(--snack-color);
  }
  .foodContent {
    border-bottom: 1.5px solid var(--main-color);
  }
  .abnormalSymptomContent {
    border-bottom: 1.5px solid var(--abnormalSymptom-color);
  }
  .hospitalContent {
    border-bottom: 1.5px solid var(--hospital-color);
  }
}
