.box {
  display: flex;
  width: 100%;
  color: var(--text-color);
  // border-radius: 32px;
  overflow: hidden;
  // border-top: 1px solid var(--main-color);
  // border: 1px solid var(--text-color);
}
