.petProfile {
  display: flex;
  align-items: center;
  gap: 12px;
  .imgBox {
    position: relative;
    width: 41px;
    height: 41px;
    img {
      border-radius: 50%;
      border: 2px solid var(--pet-border);
    }
  }
  p {
    font-family: 'LaundryGothic';
    font-weight: 700;
    font-size: 24px;
  }
}
.linkButton {
  display: block;
  width: 24px;
  height: 24px;
}
