.outer {
  padding: 54px 12px 100px;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
}

.inner {
  padding: 30px 24px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pets {
  display: flex;
  gap: 16px;
  width: 100%;
}

.filters {
  display: flex;
  gap: 6px;
}

.members {
  display: flex;
  gap: 8px;
}

.member {
  background-color: var(--white);
  width: fit-content;
  padding: 8px;
  border: 2px solid var(--pet-border);
  border-radius: 9999px;
  color: var(--pet-border);
  cursor: pointer;
  position: relative;
}

.checkbox {
  position: absolute;
  width: 0;
  height: 0;
}
