@import '../Input/mixins.scss';

.container {
  @include container;

  .select {
    position: relative;
    height: 50px;
    .button {
      position: relative;
      background-color: var(--tertiary);
      width: 312px;
      border-radius: 10px;
      text-align: left;
      padding: 0 17px;
      .inputBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 0;
        .input {
          cursor: pointer;
          border: none;
          background-color: var(--tertiary);
          line-height: 18px;
          &::placeholder {
            color: #959595;
            font-size: 14px;
          }
          &:focus {
            outline: none;
          }
        }
        .inputActive {
          background-color: var(--white);
          top: 14px;
        }
      }
    }
    .buttonActive {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--white);
      border: 1px solid var(--text-color-gray);
      height: auto;
      padding: 0 15px;
      .upIcon {
        transform: rotate(180deg);
      }
    }
  }
}
