.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  gap: 12px 0;
  margin-top: 20px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #a9a9a9;
}
.skeletonContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
