@import '../../skeleton-animation.module.scss';

.petImageSkeleton {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 18px;
  li {
    width: 116px;
    height: 116px;
    @include skeleton-animation;
    border-radius: 50%;
  }
}
