.calendarListSkeleton {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
  li {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid var(--main-color);
    padding: 13px;
    height: 100%;
    .contentsBox {
      display: flex;
      align-items: center;
      gap: 10px;
      .imgBox {
        width: 50px;
        height: 50px;
        background-color: var(--skeleton-color);
        border-radius: 50%;
      }
      .textBox {
        display: flex;
        flex-direction: column;
        gap: 4px;
        strong {
          display: block;
          width: 104px;
          height: 18px;
          background-color: var(--skeleton-color);
          border-radius: 10px;
        }
        p {
          width: 134px;
          height: 20px;
          background-color: var(--skeleton-color);
          border-radius: 10px;
        }
      }
    }
    .checkBox {
      width: 20px;
      height: 50px;
      border-radius: 10px;
      background-color: var(--skeleton-color);
    }
  }
}
