.label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2px;
  border: 2px solid var(--pet-border);
  border-radius: 9999px;
  padding: 8px 12px;
  color: var(--pet-border);
  cursor: pointer;
  font-size: 14px;
}

.input {
  position: absolute;
  width: 0;
  height: 0;
}
