.selected {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--text-color-gray);

  span {
    width: 100%;
    text-align: center;
    color: var(--text-color-time-selected);
  }
}

.selector {
  display: flex;
  align-items: center;
  width: 100%;
  height: 130px;
  font-size: 14px;
  color: var(--text-color-time-selected);
}

.observerRoot {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 20px;
  width: 100%;
}

.scroller {
  width: 100%;
  height: 130px; // .selector의 height 값을 보면서 조정
  overflow-y: scroll;
  scrollbar-width: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;

  :first-child {
    margin-top: calc(50% - 7px);
  }

  :last-child {
    margin-bottom: calc(50% - 7px);
  }
}
