.container {
  display: grid;
  grid: auto-flow / repeat(7, 1fr);
  width: 100%;
}

.calendarCell {
  text-align: center;
  padding: 8px;
  font-size: 18px;
  color: var(--text-color);

  &.red {
    color: var(--red);
  }
}
