.wrapper {
  padding: 0 24px;
  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 20px;
    .title {
      font-weight: 600;
    }
  }
  .date {
    padding: 40px 0 16px;
    font-weight: 600;
    color: #a9a9a9;
  }
  .listContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    max-height: 558px;
  }
}
