.outer {
  width: 100%;
  padding: 22px 12px;
}

.todoIconContainer {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.todoIcon {
  width: 4px;
  height: 4px;
  border-radius: 9999px;
  background-color: var(--main-color);
}

.save {
  background-color: var(--main-color);
  width: 100%;
  border-radius: 9999px;
  padding: 14px;
}
