.outer {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 20px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  height: 76px;
  position: relative;
  color: var(--text-color);
  cursor: pointer;

  &:hover {
    background-color: #fafafa;
  }
  // &:last-of-type {
  //   margin-bottom: 50px;
  // }
}

.category {
  border-radius: 9999px;
  width: 50px;
  height: 50px;
  position: relative;
}

.todo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.todoTitle {
  font-family: LaundryGothic;
  font-weight: 700;
}

.kebabCheck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  gap: 4px;
  width: 24px;
}

.checkContainer {
  flex-shrink: 0;
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  align-self: center;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  height: 0;
  width: 0;
}

.checkmarkContainer {
  border: 2px solid var(--text-color-gray);
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkContainer .checkbox:checked ~ .checkmarkContainer {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);

  &:after {
    display: block;
  }
}

.profiles {
  margin-top: 4px;
  display: flex;
  gap: 10px;
}
