.petLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.petImage {
  position: relative;
  width: 64px;
  height: 64px;
  border: 2px solid var(--pet-border);
  border-radius: 9999px;

  &:has(.petInput:checked) {
    border: 2px solid var(--main-color);
  }
}

.petInput:checked ~ .check {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.check {
  display: none;
}

.petInput {
  width: 0;
  height: 0;
}

.petName {
  font-weight: 400;
}
