:root {
  --global-width: 430px;
  --main-color: #8fcc93;
  --button-color: #021508;
  --text-color: #000;
  --text-color-gray: #9e9e9e;
  --text-color-time-selected: #a4a19d;
  --text-color-time-selector: #d9d3c7;
  --pet-border: #bdbdbd;
  --todo-category: #d9d9d9;
  --white: #fff;
  --tertiary: #f6f6f6;
  --kakao-background: #f8e049;
  --kakao-color: #371c1d;
  --google-color: #757575;
  --google-border: #eeeeee;
  --red: #d6173a;
  --calendar-red: #e75852;
  --input-error: #e74133;
  --nav-text-color: #9e9e9e;
  --input-description: #616161;
  --disabled-color: #c8c8c8;
  --clipboard-color: #e9e9eb;
  --skeleton-cololr: #bbbbbb;
  --hospital-color: #9498ff;
  --abnormalSymptom-color: #f5877e;
  --snack-color: #ffb23f;
}
