@font-face {
  font-family: 'LaundryGothic';
  src: url('/fonts/LaundryGothic_subset_Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'LaundryGothic';
  src: url('/fonts/LaundryGothic_subset_Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.subset.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.subset.woff2') format('woff2');
  font-weight: 500;
}
