@import './color.css';
@import './font.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard';
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  box-shadow: none;
}

html,
body {
  overflow-y: hidden;
}

#__container {
  max-width: var(--global-width);
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}
