:root {
  --global-width: 430px;
  --main-color: #8fcc93;
  --button-color: #021508;
  --text-color: #000;
  --white: #fff;
  --tertiary: #f6f6f6;
  --kakao-background: #f8e049;
  --kakao-color: #371c1d;
  --google-color: #757575;
  --google-border: #eeeeee;
  --red: #d6173a;
}

@font-face {
  font-family: 'LaundryGothic';
  src: url('/fonts/LaundryGothic_subset_Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'LaundryGothic';
  src: url('/fonts/LaundryGothic_subset_Regular.woff2');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard';
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}
html,
body,
#__wrap,
#__next {
  height: 100%;
}

#__container {
  max-width: var(--global-width);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  position: relative;
}
