.article {
  display: flex;
  justify-content: center;
  gap: 140px;
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 145px;
  width: 633px;
  header {
    padding-top: 37px;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 26px;
    h2,
    strong {
      font-size: 72px;
      line-height: 100px;
      font-family: 'LaundryGothic';
    }
    strong {
      color: #32a753;
    }
    p {
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
    }
  }
}
